@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
    background-color: #050505;
    /* Deep Void Black */
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: 'rlig' 1, 'calt' 1;
  }
}

@layer utilities {
  .glass {
    @apply bg-black/60 backdrop-blur-md border border-white/10;
  }
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

.text-outline {
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
  color: transparent;
}

.text-outline:hover {
  -webkit-text-stroke: 1px #2563EB;
  color: transparent;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563EB;
  /* Royal Blue Accent */
}

::selection {
  background: #2563EB;
  color: #ffffff;
}